<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Celebrities</a>
<a href="/celebrities/613749451d10aa272d806fb1">Samuel L. Jackson</a>
<a href="/celebrities/613749451d10aa272d806fb2">Bruce Willis</a>
<a href="/celebrities/613749451d10aa272d806fb3">Daniela Ruah</a>
<a href="/celebrities/new">Create new celebrity</a>
<a href="/movies">Movies</a>
<a href="/movies/new">Create new movie</a>
